li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 2.4rem;
  font-weight: 200;
  border-radius: 2.4rem;
  border: none;
  margin-bottom: 2.4rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #e7e7e7;
  &:hover {
    cursor: pointer;
  }
}
.task-icon {
  width: 3rem;
  color: #999;
  &:hover {
    color: #067b8d;
    transform: scale(30px);
  }
  &.close:hover {
    color: #8c0909;
  }
}

.completed {
  color: #07d396;
  text-decoration: line-through;
}
